<div class="about-view">
  <div class="jumbotron">
    <h2>{{vm.title}}</h2>
    <p class="lead">Learn more about this Angular 1.8 ES5 application</p>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h3>Application Information</h3>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9">{{vm.appInfo.name}}</dd>

            <dt class="col-sm-3">Version:</dt>
            <dd class="col-sm-9">{{vm.appInfo.version}}</dd>

            <dt class="col-sm-3">Description:</dt>
            <dd class="col-sm-9">{{vm.appInfo.description}}</dd>
          </dl>

          <h4 class="mt-4">Technologies Used</h4>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="tech in vm.appInfo.technologies">
              {{tech}}
            </li>
          </ul>

          <div class="mt-4">
            <h4>About Angular 1.8</h4>
            <p>
              Angular 1.8 is the final major release of AngularJS, providing improved compatibility with modern browsers
              and better support for newer JavaScript features. This version continues to support ES5 syntax while
              also providing a migration path to Angular 2+.
            </p>
            <p>
              This application demonstrates best practices for structuring an AngularJS application using ES5 syntax,
              including proper dependency injection, service creation, and controller design.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
